Flask_Moment==0.6.0
Flask==1.0.2
Werkzeug==0.14.1
WTForms==2.2.1
alembic==1.0.2
Flask_Mail==0.9.1
Flask_SQLAlchemy==2.3.2
SQLAlchemy==1.2.13
Flask_WTF==0.14.2
Flask_Login==0.4.1
Flask_Migrate==2.3.0
python-dotenv==0.9.1
Flask_Bcrypt==0.7.1
PyJWT==1.7.0
Flask-Markdown==0.3
